{
    "extends": [
      "eslint-config-globex",
      "./node_modules/@eslint-config-globex/next",
      "./node_modules/@eslint-config-globex/react",
      "./node_modules/@eslint-config-globex/typescript"
    ],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
      "import/consistent-type-specifier-style": ["error", "prefer-inline"],
      "max-len": "off",
      "react/boolean-prop-naming": ["error", {
        "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+"
      }],
      "react/prefer-read-only-props": "off"
    }
}
