.main {
	height: 832px;
	margin-top: 128px;
}

.h1 {
	margin: 0 0 56px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

.one {
	display: block;
	margin-bottom: 32px;
	font-size: 22px;
	color: var(--YELLOW);
}

.two {
	display: block;
	margin-bottom: 32px;
	font-size: 46px;
	color: var(--WHITE);
}

.three {
	display: block;
	font-size: 30px;
	color: var(--TEXT_DEFAULT);
}

/* Mobile */
@media (max-width: 1000px) {
	.main {
		line-height: 80%;
	}

	.one {
		font-size: 14px;
	}

	.two {
		font-size: 28px;
	}

	.three {
		font-size: 16px;
	}
}
