.main {
	height: 832px;
	margin-top: 128px;
}

.h1 {
	font-weight: normal;
	margin: 0 0 56px;
	text-align: center;
	text-transform: uppercase;
}

.one {
	color: var(--YELLOW);
	display: block;
	font-family: var(--font-lato-lighter);
	font-size: 22px;
	margin-bottom: 32px;
}

.two {
	color: var(--WHITE);
	display: block;
	font-size: 46px;
	margin-bottom: 32px;
}

.three {
	color: var(--TEXT_DEFAULT);
	display: block;
	font-family: var(--font-lato-lighter);
	font-size: 30px;
}

/* Mobile */
@media (max-width: 1000px) {
	.main {
		line-height: 80%;
	}

	.one {
		font-size: 14px
	}

	.two {
		font-size: 28px;
	}

	.three {
		font-size: 16px;
	}
}
