.main {
	padding: 0;
	margin: 0;
	font-family: var(--font-lato-lighter);
	line-height: 180%;
	color: var(--TEXT_DEFAULT);
	letter-spacing: 0.5px;
	background: var(--BACKGROUND);
}

.body {
	margin: 0;
}
