.left,
.right {
	padding: 0 24px;
}

.left {
	width: 100%;
	text-align: left;
}

.right {
	width: 100%;
	text-align: right;
	text-transform: uppercase;
}

.h2 {
	margin: 24px auto;
	font-size: 30px;
	color: var(--WHITE);
	text-transform: uppercase;
	letter-spacing: -1px;
}

.text {
	margin: 0 32px 0 0;
	font-size: 18px;
}

.phone {
	font-size: 30px;
	color: var(--WHITE);
	text-decoration: none;
}

.phone:focus,
.phone:hover {
	text-decoration: underline;
}

.email {
	font-size: 18px;
	color: var(--YELLOW);
	text-decoration: none;
}

.email:focus,
.email:hover {
	text-decoration: underline;
}

.address {
	margin: 32px 0 0;
	font-style: normal;
	color: #827f7f;
}

.mailing {
	color: var(--WHITE);
}

/* Mobile */
@media (max-width: 1000px) {
	.left,
	.right {
		text-align: center;
	}

	.h2 {
		margin: 16px auto;
		font-size: 18px;
	}

	.text {
		margin: 0 32px;
		font-size: 12px;
	}
}
