.left,
.right {
	padding: 0 24px;
}

.left {
	text-align: left;
	width: 100%;
}

.right {
	text-align: right;
	text-transform: uppercase;
	width: 100%;
}

.h2 {
	color: var(--WHITE);
	font-size: 30px;
	letter-spacing: -1px;
	margin: 24px auto;
	text-transform: uppercase;
}

.text {
	font-size: 18px;
	margin: 0 32px 0 0;
}

.phone {
	color: var(--WHITE);
	font-size: 30px;
	text-decoration: none;
}

.phone:focus,
.phone:hover {
	text-decoration: underline;
}

.email {
	color: var(--YELLOW);
	font-size: 18px;
	text-decoration: none;
}

.email:focus,
.email:hover {
	text-decoration: underline;
}

.address {
	color: #827F7F;
	font-style: normal;
	margin: 32px 0 0;
}

.mailing {
	color: var(--WHITE);
}

/* Mobile */
@media (max-width: 1000px) {
	.left,
	.right {
		text-align: center;
	}

	.h2 {
		font-size: 18px;
		margin: 16px auto;
	}

	.text {
		font-size: 12px;
		margin: 0 32px;
	}
}
