/* montserrat-200 - latin */
@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/montserrat-v14-latin-200.eot"); /* IE9 Compat Modes */
	src:
		local("Montserrat ExtraLight"),
		local("Montserrat-ExtraLight"),
		url("/fonts/montserrat-v14-latin-200.eot?#iefix") format("embedded-opentype"),
		url("/fonts/montserrat-v14-latin-200.woff2") format("woff2"),
		url("/fonts/montserrat-v14-latin-200.woff") format("woff"),
		url("/fonts/montserrat-v14-latin-200.ttf") format("truetype"),
		url("/fonts/montserrat-v14-latin-200.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
	src:
		local("Montserrat Regular"),
		local("Montserrat-Regular"),
		url("/fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"),
		url("/fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
		url("/fonts/montserrat-v14-latin-regular.woff") format("woff"),
		url("/fonts/montserrat-v14-latin-regular.ttf") format("truetype"),
		url("/fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

:root {
	--BACKGROUND: #0C1011;
	--BACKGROUND_DARK: #0C1011;
	--BORDER: #2B3838;
	--TEXT_DEFAULT: #C9C8C7;
	--WHITE: #FFF;
	--YELLOW: #FFCD35;
}

/* stylelint-disable-next-line selector-max-type */
body {
	background: var(--BACKGROUND);
	color: var(--TEXT_DEFAULT);
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.5px;
	line-height: 180%;
	margin: 0;
	padding: 0;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-text-size-adjust: 100%;
}

/* stylelint-disable-next-line selector-max-type */
body,
button {
	font-family: Lato, sans-serif;
}
