.main {
	height: 960px;
}

.h2 {
	margin: 0 auto 32px;
	font-size: 46px;
	font-weight: normal;
	color: var(--WHITE);
	text-align: center;
	text-transform: uppercase;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 64px auto;
}

.text {
	width: 90%;
	margin: 0 auto 96px;
	font-size: 18px;
	line-height: 220%;
	text-align: center;
}

/* Mobile */
@media (max-width: 1000px) {
	.h2 {
		font-size: 28px;
	}

	.text {
		font-size: 14px;
	}

	.icons {
		width: auto;
	}
}
