.main {
	margin-top: 0;
	font-family: var(--font-lato);
}

.link {
	z-index: 100;
	font-size: 18px;
	color: var(--TEXT_DEFAULT);
	text-transform: uppercase;
	letter-spacing: 0;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(12, 16, 17, 0.75);
	cursor: pointer;
	transition: color 250ms ease-in-out;
}

.link + .link {
	margin-left: 48px;
}

.link:focus,
.link:hover {
	color: var(--WHITE);
}

.linkActive,
.linkActive:focus,
.linkActive:hover {
	color: var(--YELLOW);
}

/* Mobile */
@media screen and (max-width: 1000px) {
	.main {
		margin: 16px;
	}

	.link {
		font-size: 14px;
	}

	.link + .link {
		margin-left: 32px;
	}
}
