.h2 {
	margin: 24px auto;
	font-size: 30px;
	color: var(--WHITE);
	text-transform: uppercase;
	letter-spacing: -1px;
}

.text {
	width: 400px;
	margin: 0 auto;
	font-size: 18px;
}

/* Mobile */
@media (max-width: 1000px) {
	.h2 {
		margin: 16px auto;
		font-size: 18px;
	}

	.text {
		font-size: 12px;
	}
}
