.main {
	height: 960px;
}

.h2 {
	color: var(--WHITE);
	font-size: 46px;
	font-weight: normal;
	margin: 0 0 96px;
	text-align: center;
	text-transform: uppercase;
}

.text {
	font-size: 18px;
	font-weight: lighter;
	line-height: 220%;
	margin: 0 64px 96px;
	text-align: center;
	width: 90%;
}

/* Mobile */
@media (max-width: 1000px) {
	.h2 {
		font-size: 28px;
	}

	.text {
		font-size: 14px;
	}
}
