.main {
	width: 64px;
	height: 64px;
}

.main path {
	fill: currentColor;
}

.yellow {
	color: #fce449;
}

.orange {
	color: #ff973b;
}

.red {
	color: #fd4136;
}

.blue {
	color: #268ad5;
}

.green {
	color: #58d761;
}

/* Mobile */
@media (max-width: 1000px) {
	.main {
		transform: scale(0.5);
	}
}
